<h1>Exercise Database</h1>
<p>{{results}}</p>

<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>

<table>
    <tr>
        <th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Lbs</th>
    </tr>
	 {{#each dataList}}
    <tr>
        <td>{{this.value}}</td>
		<td>{{this.value}}</td>
		<td>{{this.value}}</td>
		<td>{{this.value}}</td>
		<td>{{this.value}}</td>
    </tr>
     {{/each}}
</table>